<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/olympicsc</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">mysql01</property>
        <property name="connection.pool_size">4</property>
        <property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <!--  thread is the short name for
                           org.mhylle.context.ThreadLocalSessionContext
                           and let Hibernate bind the session automatically to the thread
                         -->
        <property name="current_session_context_class">thread</property>
        <!-- this will show us all sql statements -->
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">true</property>
        <property name="connection.autocommit">false</property>
        <mapping class="com.scandihealth.olympicsc.activities.model.Activity"/>
        <mapping class="com.scandihealth.olympicsc.event.model.Event"/>
        <mapping class="com.scandihealth.olympicsc.location.model.Location"/>
        <mapping class="com.scandihealth.olympicsc.user.User"/>
        <mapping class="com.scandihealth.olympicsc.imageupload.model.Logo"/>
        <mapping class="com.scandihealth.olympicsc.activities.model.ActivityPartnerRequest"/>
        <mapping class="com.scandihealth.olympicsc.event.model.EventPartnerRequest"/>
        <mapping class="com.scandihealth.olympicsc.event.model.EventVegetarianRequest"/>
        <!--<mapping class="com.scandihealth.olympicsc.imageupload.Thumbnail"/>-->
        <!--<mapping class="com.scandihealth.olympicsc.imageupload.LogoInformation"/>-->
        <!-- DB schema will be updated if needed -->
    </session-factory>
</hibernate-configuration>